.detail-quiz-container {
  display: flex;
  gap: 20px;
  padding-top: 40px;

  .left-content {
    border: 1px solid #000;
    width: 70%;
    padding: 20px;

    .title {
      font-size: 24px;
      font-weight: 500;
    }

    .q-content {
      .question {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 12px;
      }

      .q-img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 12px;
        height: 224px;
        img {
          max-width: 300px;
          max-height: 224px;
        }
      }

      .answer {
        .option {
          padding-left: 20px;
        }
      }
    }

    .footer {
      display: flex;
      gap: 12px;
      justify-content: center;
    }
  }

  .right-content {
    border: 1px solid #000;
    width: 30%;
  }
}
