html,
body {
  overflow: hidden;
}

.admin-container {
  display: flex;
  height: 100vh;
  .admin-sidebar {
    .pro-sidebar {
      height: 100%;
      .pro-sidebar-header-text {
        transition: all 0.3s ease-in-out !important;
      }
    }

    .pro-sidebar.collapsed {
      .pro-sidebar-header {
        .pro-sidebar-header-text {
          padding: 18px !important;
          transition: all 0.3s ease-in-out !important;
        }
      }
    }
  }

  .admin-content {
    width: 100%;

    .admin-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px;
      border-bottom: 1px dashed #ccc;

      .btn-collaps {
        cursor: pointer;
      }

      .right-side {
        display: flex;
        gap: 16px;
      }
    }

    .admin-main {
      margin-bottom: 12px;
    }
  }
}
