html,
body {
  overflow: hidden;
}

.admin-container {
  display: flex;
  height: 100vh;
  .admin-sidebar {
    .pro-sidebar {
      height: 100%;
      .pro-sidebar-header-text {
        transition: all 0.3s ease-in-out !important;
      }
    }

    .pro-sidebar.collapsed {
      .pro-sidebar-header {
        .pro-sidebar-header-text {
          padding: 18px !important;
          transition: all 0.3s ease-in-out !important;
        }
      }
    }
  }

  .admin-content {
    width: 100%;

    .admin-header {
      border: 1px solid green;
    }

    .admin-main {
    }
  }
}
