.login-container {
  .header {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
    height: 44px;
    padding: 0 60px;

    button {
      border: none;
      background-color: #ccc;
      padding: 4px 12px;
      border-radius: 4px;

      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }

  .title {
    font-size: 24px;
    padding: 20px 0;
    text-align: center;
  }

  .welcome {
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
  }

  .content-form {
    display: flex;
    flex-direction: column;

    input {
      margin-top: 4px;
      margin-bottom: 12px;
    }

    .forgot-password {
      cursor: pointer;
      text-decoration: underline;
      font-size: 14px;
      font-weight: 500;

      &:hover {
        color: #f00;
      }
    }

    .btn-submit {
      margin-top: 12px;
      width: 100%;
      padding: 8px 0;
      border: none;
      background-color: #000;
      color: #fff;
      border-radius: 4px;

      &:hover {
        background-color: #ccc;
        color: #000;
      }
    }

    .btn-home {
      cursor: pointer;
      margin-top: 8px;
    }
  }
}
